.container {
    max-width: 800px !important;
}

/**/

a {
    color: inherit !important;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: #f7ac01 !important;
}

/**/

.law-background-color-1 {
    background-color: #f0f0f0;
}

.law-background-color-2 {
    background-color: #ffffff;
}

.law-color-1 {
    color: #535456;
}

.law-color-2 {
    color: #f7ac01;
}

/**/

#law-header .law-header-logo {
    margin-top: 10px;
    margin-bottom: 20px;
}

/**/

#law-menu li {
    padding-left: 20px;
    padding-right: 20px;
}

#law-menu hr {
    margin-top: 10px;
    margin-bottom: 5px;
}

#law-menu ul {
    margin-bottom: 5px;
}

#law-menu a {
    text-decoration: none !important;
}

/**/

#features-carousel {
    cursor: pointer;
}

/**/

#law-footer ul a {
    text-decoration: none !important;
}

/**/

.law-registry-icon {
    width: 150px;
}

/**/

#law-map {
    width: 100%;
}

